{% extends 'base.html'%}

{% block header %}
{% block title %} Log In {% endblock %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="align-content-center">
        <h2>Login</h2>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="post">
            {{ form.hidden_tag() }} <!-- CSRF Protection -->
            {{ form.username.label }} {{ form.username() }}
            {{ form.password.label }} {{ form.password() }}
            {{ form.submit() }} <!-- Styled as button -->
        </form>
        <!-- Register button -->
        <div class="register-button">
            <a href="{{ url_for('register') }}">Don't have an account? Register here</a>
        </div>
    </div>
</div>
    {% endblock %}

    {% block pageScripts %}
    {% endblock %}