{% extends 'base.html'%}

{% block header %}
{% block title %} DEBUG {% endblock %}
{% endblock %}


{% block content %}
<div id="registration" class="row align-content-center justify-content-center mx-auto my-auto p-1 pb-2">
    <form id="userRegistration">
        <label for="Username">Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="Email">Email Address</label><br>
        <input type="text" id="email" name="email">
        <label for="Password">Password</label>
        <input type="password" id="password" name="password">
        <label for="Password">Confirm Password</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm">
        <input type="submit" value="Submit">
    </form>
</div>

<div id="passwordRules">
    <h3>Password must contain the following:</h3>
    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="number" class="invalid">A <b>number</b></p>
    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
{% endblock %}

{% block pageScripts %}
<script>
    var password1 = document.getElementById("password");
    var password2 = document.getElementById("passwordConfirm");
    var lowerCaseLetters = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    async function sendFormData(userRegistration) {
        if (password1 !== password2 && document.getElementsByClassName("valid").length !== 4) {
            alert("password validation error");
            return
        } else {
            const data = new FormData(userRegistration)
            try {
                const response = await fetch("/register", {
                    method: "POST",
                    body: data,
                });
                if (response.ok) {
                    const pageDiv = document.getElementById("registration")
                    pageDiv.innerHTML = "";
                    const successDiv = document.createElement("div")

                    const successText = document.createElement("h2")
                    successText.innerHTML = "you have been registered, you will be redirected";
                    successText.classList.add("align-self-center")

                    pageDiv.appendChild(successDiv);
                    successDiv.appendChild(successText);
                    setTimeout(() => {
                        window.location.replace("/newuser");
                    }, 3000);
                }
            } catch (e) {
                alert("an error has occurred please try again");
            }
        }
    };

    // When the user clicks on the password field, show the message box
    password.onfocus = function () {
        document.getElementById("passwordRules").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    password.onblur = function () {
        document.getElementById("passwordRules").style.display = "none";
    }

    // When the user starts to type something inside the password field
    password.onkeyup = function () {
        // Validate lowercase letters
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
    }

    const formsubmit = document.getElementById("submit");
    if (formsubmit) {
        formsubmit.addEventListener("click", () => {
            //send form data to api
            sendFormData(userRegistration)
        })
    }
</script>
{% endblock %}